.page_container--horizon
{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    animation: appear 2s ease-out;
    filter: blur(0);

.page_title
{
    padding-top: 10px;
    color: $light-orange;
    font-family: "DiabloLight";
    text-align: center;
}

main
{
    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40vw;
    height: 55vh;
    // position: absolute;
    top: 10%;
    left: 50%;
    // transform: translateX(-50%);
    cursor: pointer;
    border: 0;
    // transition: .3s;
}



.activeArt
{
    position: fixed;
    z-index: 1000;
    margin: 0;
    top: 5%;
    left: 0;
    width: 100vw;
    height: 80vh;
    transform: translateX(0);
    // backdrop-filter: blur(10px);
    background-color: black;
}



@media (max-width: 800px) {
    

    main
    {
        background-position: top;
        width: 60vw;
        height: 60vh;
    }

    

  }

  @media (min-width: 801px) and (max-width: 979px) {
    
    main
    {
        background-position: top;
        width: 70vw;
        height: 40vh;
    }

    

    
  }



// @media (min-width: 980px) and (max-width: 1279px) {


// .title_btn 
// {
//     letter-spacing: 1px;
    
//     font-size: 1rem;  
// }

// }

}



.page_description_content
{
    color: white;
    width: 39%;
    font-family: 'Abyssinica SIL', serif;
    letter-spacing: 2px;
    font-size: 1.1rem;
    line-height: 1.55rem;
}


@keyframes appear {
    0% {
        opacity: 0;
        filter: blur(10px);
    }
    
    100%{
        opacity: 1;
        filter: blur(0);
    }
    
}

#succub 
{
    background-image: url("../assets/DwarfkillsSuccub.png");
}

#animation
{
    // background-image: url("...");
    background-color: red;
}

.animation
{
    width: 500px;
    height: 500px;
    background-color: red;
}